<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EV Batteries Risk Analysis - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='heroic-features.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contacts.css') }}">
</head>
<body>
	<!-- navigation Bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="/contacts">Contacts</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	<div >
	<p class="chip">
	<img src="{{ url_for('static', filename='img_male.png') }}" alt="Person" width="96" height="96">
	Mitchell : +1(828)406-8275
	</p>
	<br/>
	<p class="chip">
	<img src="{{ url_for('static', filename='img_female.png') }}" alt="Person" width="96" height="96">
	Alyssa : +1(919)671-2955
	</p>
	<br/>
	<p class="chip">
	<img src="{{ url_for('static', filename='img_male.png') }}" alt="Person" width="96" height="96">
	Aditya : +1(919)889-9230
	</p>
	<br/>
	<p class="chip">
	<img src="{{ url_for('static', filename='img_male.png') }}" alt="Person" width="96" height="96">
	Bhavesh : +91(813)022-1886
	</p>
	<br/>
	<p class="chip">
	<img src="{{ url_for('static', filename='img_male.png') }}" alt="Person" width="96" height="96">
	Abhinav : +1(919)449-6950
	</p>
	<br/>
	<p class="chip">
	<img src="{{ url_for('static', filename='img_male.png') }}" alt="Person" width="96" height="96">
	Harshal : +1(919)903-5201
	</p>
	
</div>


	
	
	
	
	
	
	<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Team 5 2017</p>
            </div>
        </div>
    </footer>
</body>
</html>
